
<!--nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular Forms</a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/templateForm">Form - Template Driven</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dataForm">Form - Data Driven</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular Forms</a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li routerLinkActive="active">
          <a routerLink="/templateForm" aria-current="page">Form - Template Driven</a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/dataForm" aria-current="page">Form - Data Driven</a>
        </li>
    
      </ul>
    </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>