<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0" >
    Lista de Cursos Aqui!
</div>

<div *ngIf="cursos.length == 0" >
    Não existem cursos para serem listados!
</div>

<div *ngIf="mostrarCursos" >
    Lista de Cursos Aqui!
</div>

<div *ngIf="!mostrarCursos" >
    Não existem cursos para serem listados!
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou Esconder Cursos</button>

<br>

<h5>HIDDEN como alteranativa</h5>

<div [hidden]="!mostrarCursos" >
    Lista de Cursos Aqui!
</div>

<div [hidden]="mostrarCursos" >
    Não existem cursos para serem listados!
</div>
