<div style="margin-top: 10px">
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="customFile" (change)="onChange($event)" multiple/>
    <label class="input-group-text" for="customFile" id="customFileLabel">Browse</label>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'">{{ progress }}%</div>
  </div>
</div>
<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Upload</button>
</div>
<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onDownLoadExcel()">Donwload Excel</button>
</div>
<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onDownLoadPDF()">Donwload PDF</button>
</div>

